version: '2'
services:
    blog-app:
        image: blog
        external_links:
            - blog-postgresql:postgresql
        environment:
            - SPRING_PROFILES_ACTIVE=prod,swagger
            - SPRING_DATASOURCE_URL=jdbc:postgresql://postgresql:5432/blog
            - JHIPSTER_SLEEP=10 # gives time for the database to boot before the application
        ports:
            - 8080:8080
    blog-postgresql:
        extends:
            file: postgresql.yml
            service: blog-postgresql
